<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--<head>
    <meta charset="UTF-8">
    <title>Http 500 Not Found</title>
</head>-->
<head th:replace="components/Fragment :: header">
    <title>Http 500 error</title>
</head>
<body>
<!--<div class="container">

    <h1 class="error-code">500</h1>
    <h2 class="error-message">Internal Server Error</h2>


</div>-->

<div class="container vh-100" style="
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
">

    <h1 class="error-code text-center">500</h1>
    <h2 class="error-message text-center"><span class="text-danger">Opps!</span> Server error occured .</h2>

    <p> we will fix the website as soon as possible !</p>
</div>

</body>
</html>