<!-- FAQ.html -->
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="components/Fragment :: header"></head>
<body>
<div th:replace="components/Fragment :: navbar">navbar here</div>
<div>
<div class="container">
    <div class="col-lg-7">
        <h2>常見問答:</h2>
        <div style="margin-top: 5%;">
            <h3>1. 請問我要如何加入你們的活動? 要事先報名嗎?</h3>
            <p>答：不需要事先報名，直接到活動場地人性空間就可以了。我們的活動都會在Facebook fanpage上有event，仍然建議你可以按「參加」，以方便我們統計人數。
            </p>
        </div>
        <div style="margin-top: 5%;">
            <h3>2. 參加活動之前，我需要準備什麼嗎?</h3>
            <p>答：我們的英文討論分為兩部分，(1)新聞英語討論；(2)每週文章討論。我們希望你在參加gathering以前，可以上我們的FB看過本週的討論文章，以及閱讀近期的英語新聞



                本週討論文章網址：https://www.facebook.com/iEnglishClub/

                (文章會放置於每周的活動內，請詳閱每周活動內的說明)
            </p>
        </div>
        <div style="margin-top: 5%;">
            <h3>3. 我的英文程度不是很好，請問我適合參加你們的活動嗎?</h3>
            <p>答：每個人適合的學習環境都不同。我們很歡迎你來參加我們的活動試試看，這個環境是否適合你。



                我們希望gathering的參與者，至少要在字典和Google的幫助下，能夠閱讀和理解英語新聞，並且有能力用英文參與相關討論。



                如果你有興趣嘗試，但對目前的英文能力信心不足，如同第2點說的，我們建議你先詳細閱讀過本週的討論文章及英語新聞，並就問題事先做好準備，這應該可以幫助你更容易參加我們的討論。


            </p>
        </div>
        <div style="margin-top: 5%;">
            <h3>4. 請問參加的費用要多少?</h3>
            <p>答：場地費150元，請於入場時交給店家(人性空間)。



                新人可以來試聽3次的gathering，如欲參加4次以上，請加入會員。我們的終身入會費1500元，會員仍須繳交150元場地費給人性空間。新人第一次試聽加入有九折優惠
            </p>
        </div>
        <div style="margin-top: 5%;">
            <h3>5. 找不到你們的場地?</h3>
            <p>答：我們的活動場地在「人性空間」。在羅斯福路三、四段交接處，有一家「蘋果專賣店(DE德誼數位)」和「大陸眼鏡」，那中間的巷子彎進去，有一座小公園，公園後方有一家「台大牛莊」。我們的活動場地「人性空間」在「台大牛莊」左方的巷子，離「台大牛莊」只有10公尺。



                人性空間地址：台北市中正區羅斯福路三段286巷4弄1號，人性空間電話：(02)2365-5635            </p>
        </div>
    </div>
    <div class="col-lg-5">
        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FiEnglishClub%2F&tabs=timeline&width=450&height=600&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="400" height="450" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
    </div>
</div>
</div>
<div th:replace="components/Fragment :: footer">footer here</div>
</body>
</html>